
* {
    margin: 0 auto;
    color: #B3B3B3;
}

body {
    background-color: #282828;
}

h1 {
    color: #B3B3B3;
    text-align: center;
}

table, th, tr, td {
    border: 1px black solid;
    background-color: #22303C;
    color: #8899A6;
    padding: 10px 30px;
}

td:hover{
    background-color: teal;
    color: white
}

th {
    background-color: #15202B;
}