
* {
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

body {
    background-color: #3D3D3D;
}

h1 {
    margin: 20px;
    color: #AAAAAA;
}

/* .box1 {
    width: 100px;
    height: 100px;
    background-color: darkred;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: black;
} */